# Файл CODEOWNERS — автоматизирует назначение ревьюеров

# Если кто-то меняет файлы в папке фронта — GitHub позовет фронтендера
/frontend/     @Brykovka38

# Если меняется бэкенд — GitHub позовет бэкендера
/backend/      @ShalunBdk

# Если дизайнер обновляет иконки или макеты
/design/       @логин_дизайнера

# Product Manager - ревьюер для изменений в концепции проекта
/README.md     @MaratDanilyuk
/docs/         @MaratDanilyuk
