# Файл CODEOWNERS — автоматизирует назначение ревьюеров

# Если кто-то меняет файлы в папке фронта — GitHub позовет фронтендера
/frontend/     @Brykovka38

# Если меняется бэкенд — GitHub позовет бэкендера
/backend/      @ShalunBdk

# Если меняется UX/UX (иконки, макеты) - — GitHub позовет дизайнера
/design/       @Jackson-695

# Product Manager - ревьюер для изменений в концепции проекта
/README.md     @MaratDanilyuk
/docs/         @MaratDanilyuk
/.github/      @MaratDanilyuk
